<div class="container padding-top-50">
  <h3><%= @score.game.name %></h3>
  <p><%= @score.amount %></p>
  <p><%= link_to "New Score", new_game_score_path(game_id:@game.id), class: "btn btn-primary" %></p>
</div>
