<div id="fh5co-about-us" data-section="about">
  <div class="container">
    <div class="row row-bottom-padded-lg" id="about-us">
      <div class="col-md-12 section-heading text-center">
        <h2 class="to-animate">About Tappers</h2>
        <div class="row">
          <div class="col-md-8 col-md-offset-2 to-animate">
            <h3>Located near downtown Indianapolis in Historic Fletcher Place, Tappers Arcade Bar is Indianapolis' first retro arcade bar! Tappers focuses on regional craft beer and offers free-to-play arcade video games and cheap pinball. Tappers is a great place to come alone, or with a large group!</h3>
          </div>
        </div>
      </div>
      <div class="col-md-8 to-animate">
        <%= image_tag 'tappers', class: "img-responsive img-rounded" %>
      </div>
      <div class="col-md-4 to-animate">
        <h2>Location</h2>
        <p>501 Virginia Ave<br> Suite 102 <br>Indianapolis, Indiana 46203</p>
      </div>
    </div>
    <div class="row" id="team">
      <div class="col-md-12 section-heading text-center to-animate">
        <h2>Team</h2>
      </div>
      <div class="col-md-12">
        <div class="row row-bottom-padded-lg">
          <div class="col-md-4 text-center to-animate">
          </div>
          <div class="col-md-4 text-center to-animate">
            <div class="person">
              <%= image_tag 'matt_tappers', class: "img-responsive img-rounded" %>
              <h3 class="name">Matt Fair</h3>
              <div class="position">Web Designer</div>
              <p>I have no affiliation with tappers other than I am a patron.  I created this website because I wanted a way to track among my friends, who is elite.  The best of the best.</p>
              <ul class="social social-circle">
                <li><a href="https://twitter.com/Matt_Fair_86"><i class="icon-twitter"></i></a></li>
                <li><a href="#"><i class="icon-linkedin"></i></a></li>
                <li><a href="http://www.matthewjfair.com"><i class="icon-screen-desktop"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-4 text-center to-animate">
            <div class="person">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
