<div id="fh5co-about-us" data-section="about">
  <div class="container">
    <div class="row" id="team">
      <div class="col-md-12 section-heading text-center to-animate">
        <h2>Team</h2>
      </div>
      <div class="col-md-12">
        <div class="row row-bottom-padded-lg">
          <div class="col-md-4 text-center to-animate">
          </div>
          <div class="col-md-4 text-center to-animate">
            <div class="person">
              <%= image_tag 'matt_tappers', class: "img-responsive img-rounded" %>
              <h3 class="name">Matt Fair</h3>
              <div class="position">Web Designer</div>
              <p>I have no affiliation with tappers other than I am a patron.  I created this website because I wanted a way to track among my friends, who is elite.  The best of the best.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
